# production
SPIRAL_SESSION_SECRET="Your_session_secret_key"
DATABASE_URL="db url string for connection"
VITE_API_BASE_URL="your_client_url"
NODE_ENV="production"

# local
DB_HOST=localhost
DB_NAME=sdb_name
DB_PASSWORD='postgres'
DB_PORT=db_port | 5432
DB_USER=db_user
NODE_ENV="development"
SPIRAL_SESSION_SECRET="your_session_secret_key"
