/* PageNavigation styles  */
.paginationButton {
  width: 4.5rem; 
  height: 2.2rem; 
  border-radius: 0.75rem; 
  color:white;
  font-weight: 500; 
  cursor: pointer; 
  transition: transform 0.1s ease; 
}

.paginationButton:active {
  transform: scale(0.95); 
}

.paginationButton:disabled {
  opacity: 0.5; 
  cursor: not-allowed; 
  transform: none; 
}
